ul,ol{
  list-style: none;
}
*{
margin: 0;padding: 0;
}
.icon {
  width: 1em; height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
#xxx{
  background: white;
  display: block;
}

body{
  margin: 0px;
  overflow: hidden;
}

.actions{
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px;
}
.actions > #brush{
  display: none;
}

.actions svg{
  width: 2em;
  height: 2em;
  margin: 0 10px;
}
.actions svg.active{
  fill:red;
  transform: scale(1.2);
  transition: 0.3s;
}
.colors{
  position: fixed;
  top: 60px;
  left: 27px;
  
}
.colors li{
  width: 20px;
  height: 20px;
  margin: 10px 0px;
  border-radius: 50%;
  box-shadow: 0 0 3px rgba(0, 0, 0, 25);
  transition: all 0.3s;
}
.colors li.red{
  background: red;
}
.colors li.green{
  background: green;

}
.colors li.bule{
background: blue;
}
.colors li.black{
  background: black;
  }
.colors li.active{
  box-shadow: 0 0 30px rgba(0, 0, 0, 25);
  transform: scale(1.2);

}
.sizes{
  position: fixed;
  right: 10px;
  top: 10px;
  font-family:cursive;
  font-size: 25px;
}
.sizes li{
  margin: 20px;
}
.sizes .thin{
  height: 0;
  width: 20px;
  border-top: 3px solid black;

}
.sizes .thick{
  height: 0;
  width: 20px;
  border-top: 6px solid black;
  
}
